body {
  font-family: Arial, sans-serif;
}

.navbar-brand img {
  height: 65px;
  object-fit: contain;
}

#about-us {
  background-color: #f5f5f5;
}

#about-us h1 {
  font-size: 2.5rem;
  color: #3f3f3f;
}

#about-us .col-md-6 {
  padding: 0 15px;
}

#about-us img {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

footer {
  border-top: 1px solid #ccc;
}

footer p {
  margin-bottom